<div id="Community" class="Community Bg--blue">

  <div class="Community__Title">
    <h2>In the <b>Comunity</b></h2>
  </div>
  <div class="Community__Image">
    {% image "./src/assets/images/talk-1.jpg", "Dan Leivers on Stage" %}
    {# {% image "./src/assets/images/talk-2.jpg", "Dan Leivers on Stage" %} #}
  </div>
  <div class="Community__Text">
    <p>Daniel Leivers from Otaku Development is a regular speaker at devoper focused events accross europe. He has spoken about iOS development, Swift, working with GraphQL and React Native applications.</p>
    <ul>
      <li>iOS Dev UK - 2018</li>
      <li>Swift Heros - 2018</li>
      <li>nsLondon - 2018</li>
      <li>SWmobile - 2014 - Present</li>
    </ul>
    <div class="Swmobile">
      <h3 class="sr-only">SWmobile</h3>
      {% image "./src/assets/images/swmobile.svg", "South West Mobile" %}
      <p>Dan also co-organises and runs SWmobile in Bristol. SWmobile is mobile focused tech group based in the South West of England. The events are free, well-liked and give members an opportunity to meet and learn from other mobile professionals based in the area and beyond. Come for a beer and network!</p>
      <a href="https://www.meetup.com/swmobile/" class="Button Button--inverted" target="_blank" rel="noopener">SWmobile on Meetup</a>
    </div>

  </div>
</div>
