<div id="contact" class="ContactCta Bg--blue">
  <div class="Container Grid">
    <div class="ContactCta__Text">
      <h2>{{contact.cta_title| safe}}</h2>
      <p>{{contact.cta_copy| safe}}</p>
      <a href="/contact" class="Button Button--inverted">{{contact.cta_button| safe}}</a>
    </div>
    <div class="ContactCta__Icon">
      {% image "./src/assets/images/email.svg", "Contact Us" %}
    </div>
  </div>
</div>
