<footer class="Footer Bg--dark-blue">
  <div class="Container" itemscope itemtype="https://schema.org/Organization">
    <div class="Footer__Block Footer__Block--logo">
      {% include "../assets/images/logo-light.svg" %}
    </div>
    <div class="Footer__Block Footer__Block--contact">
      <p>
        <strong>Get in Touch</strong>
        <a class="email" itemprop="email" href="mailto:{{site.email}}">{{site.email}}</a>
        <a class="tel" itemprop="telephone" href="tel:{{site.phone}}">{{site.phone_stylised}}</a>
      </p>
    </div>
    <div class="Footer__Block Footer__Block--address">
      <p translate="no" typeof="schema:PostalAddress" class="postal-address">
        <span class="sr-only" property="schema:name">{{site.name}}</span>
        <span property="schema:streetAddress">{{site.streetAddress | safe}}</span>
        <span property="schema:addressLocality">{{site.addressLocality}}</span>
        <span property="schema:addressRegion">{{site.addressRegion}}</span>
        <span property="schema:postalCode">{{site.postalCode}}</span>
        <span class="sr-only" property="schema:addressCountry">United Kingdom</span>
      </p>
    </div>
    <div class="Footer__Block Footer__Block--social">
      <nav class="SocialNav">
        <a href="https://www.linkedin.com/in/daniel-leivers-6302b61a/" class="linkedin" target="_blank" rel="noopener"  aria-label="medium">
          {% include "../assets/icons/linkedin.svg" %}
        </a>
        <a href="https://twitter.com/SofaRacing" class="twitter" target="_blank" rel="noopener"  aria-label="medium">
          {% include "../assets/icons/twitter.svg" %}
        </a>
        <a href="https://medium.com/@sofaracing" class="medium" target="_blank" rel="noopener" aria-label="medium">
          {% include "../assets/icons/medium.svg" %}
        </a>
        <a href="https://github.com/Workshed" class="github" target="_blank" rel="noopener" aria-label="Github">
          {% include "../assets/icons/github.svg" %}
        </a>
      </nav>
    </div>
  </div>
</footer>
<div class="SubFooter Bg--blue">
  <div class="Container">
    <p>&copy; Otaku Development. Designed and built by <a href="https://discoliam.com">Discoliam</a>.</p>
    <p>Company number 10514236</p>
  </div>
</div>
