<footer class="Footer Bg--dark-blue">
  <div class="Container" itemscope itemtype="https://schema.org/Organization">
    <div class="Footer__Block Footer__Block--logo">
      {% include "../assets/images/logo-light.svg" %}
    </div>
    <div class="Footer__Block Footer__Block--contact">
      <p>
        <strong>Get in Touch</strong>
        <a class="email" itemprop="email" href="mailto:hello@otaku.dev">hello@otaku.dev</a>
        <a class="tel" itemprop="telephone" href="tel:+447971925149">+44 (0) 7971925149</a>
      </p>
    </div>
    <div class="Footer__Block Footer__Block--address">
      <span itemprop="name">Otaku Development Limited</span>
      <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
        <span itemprop="streetAddress">
          The Mews<br />
          Hounds Road<br />
        </span>
        <span itemprop="addressLocality">Chipping Sodbury</span>,<br />
        <span itemprop="postalCode">BS37 6EE</span>
      </div>



    </div>
    <div class="Footer__Block Footer__Block--social">
      <nav class="SocialNav">
        <a href="https://www.linkedin.com/in/daniel-leivers-6302b61a/" class="linkedin" target="_blank" rel="noopener"  aria-label="medium">
          {% include "../assets/icons/linkedin.svg" %}
        </a>
        <a href="https://twitter.com/SofaRacing" class="twitter" target="_blank" rel="noopener"  aria-label="medium">
          {% include "../assets/icons/twitter.svg" %}
        </a>
        <a href="https://medium.com/@sofaracing" class="medium" target="_blank" rel="noopener" aria-label="medium">
          {% include "../assets/icons/medium.svg" %}
        </a>
        <a href="https://github.com/Workshed" class="github" target="_blank" rel="noopener" aria-label="Github">
          {% include "../assets/icons/github.svg" %}
        </a>
      </nav>
    </div>
  </div>
</footer>
<div class="SubFooter Bg--blue">
  <div class="Container">
    <p>&copy; Otaku Development. Designed and built by <a href="https://discoliam.com">Discoliam</a>.</p>
    <p>Company number 10514236</p>
  </div>
</div>
