<div class="Hero">
  <div class="Container">
    <div class="Hero__Strapline Grid">
      <h1>
        Otaku provides <b>Mobile Development</b> <i>&amp;</i> <b>Consultancy</b> for Start-Ups, Scale-Ups and Internationally Used Products.
      </h1>
      {% image "./src/assets/images/phone.svg", "Mobile Phone Illistration" %}
    </div>
  </div>
</div>
