<div class="Hero">
  <div class="Container">
    <div class="Hero__Strapline Grid">
      <h1>{{hero.title | safe}}</h1>
      {% image "./src/assets/images/phone.svg", "Mobile Phone Illistration" %}
    </div>
  </div>
</div>
