<div id="our-services" class="OurServices Bg--blue">
  <div class="Container">
    <h2>Our Services</h2>
    <p>From Development to Consultancy, technical architecture to implementation of best practices, for teams of 1 to 1000, Otaku has more than a decade of experience working in the mobile sector. Whatever you need to build or improve your offering, we can help.</p>
    <a href="/services" class="Button Button--inverted">Find out more</a>
  </div>
</div>


