<div id="our-services" class="OurServices Bg--blue">
  <div class="Container">
    <h2>Our Services</h2>
    <div class="OurServices__Service Service">
      <h3>Mobile <b>Development</b></h3>
      <p>Otaku has more than a decade of experience working in mobile development. Our team has worked with clients ranging from The Cartoon Network to The Wall Street Journal. Otaku Development provides guidance to companies on iOS/Android features and capabilities.</p>
    </div>
    <div class="OurServices__Service Service">
      <h3>Best <b>Practices</b></h3>
      <p>Do you have an existing team of developers? Otaku Development can help you work on improving your best practice, reduce inefficiencies in your work flow, set up and maintain continuous integration and more. Otaku Development’s strengths lie in experimenting with emerging technologies and developing new ways to solve problems, and get results.</p>
    </div>
    <div class="OurServices__Service Service">
      <h3>Technical <b>Architecture</b></h3>
      <p>Do you want to measure the quality of your code base or just want some reassurance that it’s fit for purpose? Otaku can help review your code and give you feedback on how fit for purpose it is as well as suggesting areas for improvement. We can help you define your technical architecture, either for the mobile platform itself or end to end.</p>
    </div>
  </div>
</div>
