.Contact {
  padding: 0 0 var(--padding) 0;
  @media (--mq-desk) {
    padding: 0 0 var(--padding-large) 0;
  }
}

.Contact__Form,
.Contact__Info {
  grid-column: 1 / span 12;
}

@media (--mq-tablet-and-up) {
  .Contact__Form {
    grid-column: 7 / span 6;
    grid-row: 1;
  }
  .Contact__Info {
    grid-column: 1 / span 6;
    grid-row: 1;
  }
}

.Contact__Form form {
  margin: 0 0 var(--spacing) 0;
  & label {
    & abbr {
      text-decoration: none;
      color: var(--color-blue);
    }
  }

  & .input-wrap {
    margin-bottom: var(--spacing);
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      transition: all 200ms ease;
      transform-origin: 0 50%;
      background-color: var(--color-blue);
    }
    &:focus-within::after {
      transform: scaleX(1);
    }
  }
}

.Contact__MessageText {
  display: block;
  padding: 10px;
  border: solid 1px;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease;
}

.Contact__MessageText--active {
  max-height: 100px;
  visibility: visible;
  opacity: 1;
}

.Contact__MessageText--success {
  background-color: var(--color-success-10);
  border-color: var(--color-success-100);
}

.Contact__MessageText--error {
  background-color: var(--color-error-10);
  border-color: var(--color-error-100);
}
