.Lead {
  font-size: var(--font-size--lead);
}

.Page-Title {
  padding: var(--padding) 0;
  text-align: center;
  @media (--mq-desk) {
    padding: var(--padding-large) 0;
    max-width: 75%;
    margin: 0 auto;
  }
}

.Project {
  margin-bottom: var(--padding-large);
}

.Project__Image {
  position: relative;
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url('../images/portfolio-overlay.png');
    background-size: 47px 69px;
    width: 47px;
    height: 69px;
    top: -12px;
    left: -12px;
  }
  &::after {
    transform: rotate(180deg);
    top: auto;
    left: auto;
    bottom: -12px;
    right: -12px;
  }
  & img {
    width: 100%;
    height: auto;
  }
}

.Project__Image,
.Project__Text {
  grid-column: 1 / span 12;
}

.Project__Details {
  width: 100%;
  & dt {
    clear: left;
    display: inline-block;
    float: left;
    font-weight: 700;
    margin: 0 10px 10px 0;
    width: 50px;
  }
  & dd {
    margin: 0 0 10px 0;
  }
}

@media (--mq-tablet-and-up) {
  .Project__Image {
    grid-column: 1 / span 6;
  }
  .Project__Text {
    grid-column: 7 / span 6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (--mq-lap-and-up) {
  .Project__Image {
    grid-column: 2 / span 5;
  }
  .Project__Text {
    grid-column: 8 / span 4;
  }
}
