.Community__Title {
  padding: var(--padding) var(--grid-gap) var(--spacing) var(--grid-gap);

  text-align: center;
  & h2 {
    margin: 0;
    text-align: center;
  }
}

.Community__Image {
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Community__Text {
  padding: var(--padding) var(--grid-gap);
}

.Swmobile {
  padding-top: var(--spacing);

  & img {
    margin: 0 auto var(--spacing) auto;
    display: block;
  }
}

@media (--mq-tablet-and-up) {
  .Community {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--grid-gap);
    row-gap: 0;
  }
  .Community__Text {
    padding: 0 var(--grid-gap) var(--padding) var(--grid-gap);
  }
  .Community__Image {
    grid-column: 1 / span 6;
    grid-row: 1 / span 2;
  }
  .Community__Title,
  .Community__Text {
    grid-column: 7 / span 6;
  }
  .Community__Title {
    grid-row: 1;
  }
  .Community__Text {
    grid-row: 2;
  }

  .Swmobile {
    & img {
      float: left;
      margin: 0 var(--spacing) var(--spacing) 0;
    }
  }
}
