.ContactCta {
  padding: var(--padding) 0;
  & h2 {
    margin: 0;
  }
  & p {
    margin: var(--spacing) 0;
  }
}

.ContactCta__Text,
.ContactCta__Icon {
  grid-column: 1 / span 12;
}

@media (--mq-tablet-and-up) {
  .ContactCta__Text {
    grid-column: 2 / span 6;
  }
  .ContactCta__Icon {
    grid-column: 9 / span 3;
  }
}
