.OurServices {
  padding: 40px 0;
  & h2 {
    text-align: center;
  }
}

.OurServices__Service h3 b {
  display: block;
}

@media (--mq-tablet-and-up) {
  .OurServices__Service {
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(12, 1fr);
    & h3 {
      grid-column: 2 / span 3;
    }

    & p {
      grid-column: 6 / span 4;
    }
  }
}
