---
title: 'Otaku Development'
layout: 'layouts/page.html'
eleventyNavigation:
  key: Home
---

{% include "hero.njk" %}
{% include "our-services.njk" %}
{% include "logos.njk" %}
{% include "community.njk" %}
{% include "contact.njk" %}
