.Bg--blue {
  background-color: var(--color-blue);
  color: var(--color-white);
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & .h1,
  & .h2,
  & .h3,
  & .h4,
  & .h5,
  & .h6 {
    color: var(--color-white);
  }
  & a {
    color: var(--color-white);
    &:hover {
      color: var(--color-dark-blue);
    }
  }
}

.Bg--dark-blue {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  & a {
    color: var(--color-white);
    &:hover {
      color: var(--color-blue);
    }
  }
}
